
@{
    ViewData["Title"] = "ShowPetition";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5>
                            عریضه در مورد ثبت نام محمدعلی ولد شیخ جابیر از مربوطات ولایت بامیان ولسوالی یکه ولنگ سرخ جوی
                        </h5>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                <div class="mb-3">
                                    <span class="badge badge-dark p-2">نام عارض: محمدعلی</span>
                                    <span class="badge badge-dark p-2">نمبر تماس: ۰۷۸۲۳۴۵۶۷۸</span>
                                    <span class="badge badge-info p-2">تاریخ ثبت: ۱۳۹۸/۲/۳</span>
                                </div>
                                <div class="jumbotron">
                                    <p>
                                        عریضه در مورد ثبت نام محمدعلی ولد شیخ جابیر از مربوطات ولایت بامیان ولسوالی یکه ولنگ سرخ جوی عریضه در مورد ثبت نام محمدعلی ولد شیخ جابیر از مربوطات ولایت بامیان ولسوالی یکه ولنگ سرخ جوی
                                    </p>
                                </div>
                                <div>
                                    <h6>
                                        مشاهده عریضه:
                                    </h6>
                                    <a href="#" class="btn btn-outline-info" title="دانلود سند"><i class="fa fa-3x fa-download m-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.card -->




                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">رئیس</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool"><i class="fas fa-check"></i></a>
                            <a href="#" class="btn btn-tool"><i class="fas fa-trash"></i></a>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <blockquote class="quote-success">
                            <p>مورد تأیید است. اجرائات گردد</p>
                            <small class="text-muted">در تاریخ ۱۳ دلو ۱۳۹۸ - ساعت ۱۵:۴۵ دقیقه مورد تأیید قرار گرفت.</small>
                        </blockquote>
                    </div>
                </div>
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">معاون</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool"><i class="fas fa-hourglass-half"></i></button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <p>
                                    نظر شما:
                                </p>
                                <div class="jumbotron bg-light border p-1">
                                    <textarea class="form-control bg-transparent border-0" rows="5"></textarea>
                                </div>
                                <div class="text-left">
                                    <a href="#" class="btn btn-success float-right" title="دانلود سند"><i class="fa fa-check px-1"></i>تأیید سند</a>
                                    <a href="#" class="btn btn-outline-warning" title="دانلود سند"><i class="fa fa-edit px-1"></i>اصلاح شود</a>
                                    <a href="#" class="btn btn-outline-danger" title="دانلود سند"><i class="fa fa-times px-1"></i>رد درخواست</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">معاون</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool"><i class="fas fa-close"></i></button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        The body of the card
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">بخش حقوقی</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool"><i class="fas fa-eye-slash"></i></button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                </div>

            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

