
@{
    ViewData["Title"] = "Users";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link bg-dark" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i> کاربر جدید</a>
                                </li>
                                <li class="nav-item float-left ml-auto">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> جستجو</button>
                                            </span>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body p-0">

                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>کاربر</th>
                                        <th>نقش</th>
                                        <th>کارمند متصل</th>
                                        <th>ایمیل</th>
                                        <th style="max-width: 100px;">آخرین ورود</th>
                                        <th style="max-width: 50px;" class="text-center">وضعیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="#">SalehBagheri</a></td>
                                        <td><span class="badge badge-danger">مدیر سیستم</span></td>
                                        <td><a href="#">صالح باقری</a></td>
                                        <td>s.bagheri@gmail.com</td>
                                        <td>امروز ساعت ۱۰</td>
                                        <td class="text-center"><i class="fa fa-circle text-green" title="Active"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="#">AliMozaffari</a></td>
                                        <td><span class="badge badge-danger">مدیر کل</span></td>
                                        <td><a href="#">علی مظفری</a></td>
                                        <td>a.mozaffari@gmail.com</td>
                                        <td>هفته پیش</td>
                                        <td class="text-center"><i class="fa fa-circle text-warning" title="Active"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="#">RamazanRahimi</a></td>
                                        <td><span class="badge badge-light">کاربر عادی</span></td>
                                        <td><a href="#">رمضان رحیمی</a></td>
                                        <td>r.rahimi@gmail.com</td>
                                        <td>۲۸ اسد ۱۳۹۸</td>
                                        <td class="text-center"><i class="fa fa-circle text-danger" title="Deactive"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <ul class="pagination pagination m-0 justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- /.card -->



                    <div class="card card-primary">

                    </div>

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

