@{
    ViewData["Title"] = "کارمندان تحت نظر آمریت    ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content transport-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card reports-card">
                    <div class="card-header fixed card-primary card-outline">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            @*<li class="nav-item mr-1">
                                    <a class="nav-link bg-dark" data-toggle="modal" data-target="#createStaffReportModal"><i class="fa fa-folder-plus"></i> ثبت کار جدید</a>
                                </li>*@
                            <li class="nav-item mr-1">
                                <a class="nav-link bg-dark" asp-action="OfficeReports" asp-controller="PolicyDepartment"><i class="fa fa-folder-plus"></i>لیست گزارش ها</a>
                            </li>
                            <li class="nav-item float-left ml-auto" style="margin-left: 10px">
                                <div class="input-group">
                                    <input type="text" id="carSearchInput" name="query" class="form-control">
                                    <span class="input-group-append">
                                        <button class="btn btn-info" onclick="carSearchFunction()">
                                            <i class="fa fa-search"></i>
                                            جستجو
                                        </button>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body reports-card-body">
                        <div class="row" style="height: 100%">
                            <div class="col-lg-12 content-parent-manual">
                                <ul class="report-list">
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reports-item-parent col-md-12">
                                            <div class="row">
                                                <div class="col-sm-10 flexed-centerd-horizontal">
                                                    <span class="list-item-titles col-sm-2">کارمند: روح الله نادری </span>
                                                    <span class="list-item-titles col-sm-3">دسته بندی: شرکت در جلسات و مطالعه و اصلاح آجندا ها و صورت جلسات </span>
                                                    <span class="todo-item-createdAt col-sm-5">عنوان: شرکت در جلسه بعد از ظهر روز یکشنبه بیست و دوم ماه قوس در مورد صلح با طالبان و نقش منطقه ای و مهم پاکستان و همینطور در مورد جنگ ایران و عراق</span>
                                                    <span class="list-item-titles col-sm-2">وضعیت: در انتظار تایید </span>
                                                </div>
                                                <div class="col-sm-2 flexed-left-horizontal">
                                                    <a class="btn btn-md report-left-side-icons" onclick='openViewTaskModal()' aria-haspopup="true" aria-expanded="false" href="#">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <div class="dropdown report-left-side-icons">
                                                        <a class="btn btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">تایید</a>
                                                            <a class="dropdown-item" onclick='openDeleteTaskModal(${JSON.stringify(todo)})' href="#">عدم تایید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="createStaffReportForm" action="/Task/AddTodo" method="post">
        <div class="modal fade" id="createStaffReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ثبت کار جدید</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <label for="Title" class="col-sm-3 col-form-label">عنوان وظیفه:</label>
                                <textarea class="form-control col-sm-7" placeholder="عنوان ..." name="Explanation"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="Title" class="col-sm-3 col-form-label">تاریخ:</label>
                                <input type="datetime-local" id="reportTitle" class="col-sm-7 form-control" name="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="staticEmail" class="col-sm-3 col-form-label">دسته بندی وظیفه: </label>
                                <div class="col-sm-7 none-padding-button">
                                    <a class=" btn-md dropdown-toggle todoType-dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <input type="text" class="form-control input-sm cursor-pointer todoTypeInputToDisplay" placeholder="نوع آیتم" readonly>
                                        <input type="hidden" class="todoTypeInputRealValue" name="TodoType">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-task-status">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="Title" class="col-sm-3 col-form-label">توضیحات:</label>
                                <textarea class="form-control col-sm-7" placeholder="توضیحات ..." name="Explanation"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> انصراف <i class="fa fa-trash"></i></button>
                        <button type="submit" class="btn btn-secondary">ثبت آیتم <i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="DeleteReportModal">
        <div class="modal" tabindex="-1" role="dialog" id="deleteTaskModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="TodoID" id="TodoID" />
                        <p>آیا این آیتم حذف شود؟</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> انصراف <i class="fa fa-trash"></i></button>
                        <button type="submit" class="btn btn-secondary"> حذف <i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="ConfirmReportForm" action="/Task/ChangeTodoStatus" method="post">
        <div class="modal" tabindex="-1" role="dialog" id="ConfirmReportModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="TodoID" id="TodoID" />
                        <p>آیا این آیتم تایید شود؟</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> خیر <i class="fa fa-trash"></i></button>
                        <button type="submit" class="btn btn-secondary"> بله <i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/Chart.js/chartjs-plugin-datalabels.js"></script>

    <script>
        function openConfirmModal() {

        }
        var defaults = {
            global: {
                // example font
                defaultFontFamily: 'IRANSans'
            }
        };

        /////////
        var daysInMonth = [];
        var petitionNumbers = [];
        var petResult;

        function showChart() {
            daysInMonth = petResult.days;
            petitionNumbers = petResult.pets;
            console.log(daysInMonth);
            console.log(petitionNumbers);

            let popCanvasName = $('#barChart').get(0).getContext('2d');

            var barChartData = {
                labels: daysInMonth,
                datasets: [
                    {
                        label: 'تعداد عریضه‌های روزانه',
                        backgroundColor: '#f56954',
                        borderColor: '#f56954',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: '#f56954',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: '#f56954',
                        data: petitionNumbers
                    }
                ]
            }

            var barChartOptions = {
                responsive: true,
                plugins: {
                    // Change options for ALL labels of THIS CHART
                    datalabels: {
                        color: '#fff',
                        anchor: 'center',
                        align: 'right',
                        clamp: true,
                    }
                },
                legend: {
                    display: true,
                    labels: {
                        fontFamily: 'IRANSans'
                    },
                    reverse: true,
                    rtl: true,
                    textDirection: 'rtl'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            reverse: true,
                            fontFamily: "IRANSans",
                        }
                    }],
                    yAxes: [{
                        display: true,
                        position: 'right',
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
                tooltips: {
                    titleFontFamily: 'IRANSans',
                    titleAlign: 'right',
                    bodyAlign: 'right',
                    bodyFontFamily: 'IRANSans'
                },
                maintainAspectRatio: false,
                datasetFill: false
            }

            var barChartName = new Chart(popCanvasName, {
                type: 'bar',
                plugins: [{
                    ChartDataLabels
                }],
                data: barChartData,
                options: barChartOptions,
                defaults: defaults
            });
        }
        function getChartData() {
            return fetch('/Petitions/Report/DailyPetitions',
                {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw Error('Response Not OK');
                    }
                })
                .then(function (text) {
                    try {
                        return JSON.parse(text);
                    } catch (err) {
                        throw Error('Method Not Found');
                    }
                })
                .then(function (responseJSON) {
                    petResult = responseJSON;
                    showChart();
                })
        }
            //getChartData();
    </script>
}

