
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://edge.vpo.gov.af/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link href="http://edge.vpo.gov.af/assets/adminlte/css/AdminLTE-rtl-fd.css" rel="stylesheet">
    <title>کارت وسایط</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>

<body>

    <section id="kart">
        <img src="http://edge.vpo.gov.af/assets/img/resources/vehicle-kart-background.png" alt="Vehicle kart" id="img-background">
        <div class="top-row">
            <div class="col-sm-12">

                <div class="kart-vpo-logo vpo-right">
                    <img src="http://edge.vpo.gov.af/assets/img/resources/logo_vpo.png" class="vpo-logo" alt="VPO Logo">
                    <br>
                    <br>
                    <span class="kart-register">
                        شماره ثبت (......)
                    </span>
                    <br>
                    <br>
                </div>
                <div class="kart-title">
                    <br>
                    <br>
                    <span class="kart-title-af">جمهوری اسلامی افغانستان</span>
                    <br>
                    <span class="kart-title-vpo">معاونت دوم ریاست جمهوری</span>
                    <br>
                    <span class="kart-title-chief">ریاست عمومی دفتر</span>
                    <br>
                    <br>

                    <span class="kart-title-sedarat">کارت وسایط صدارت عظمی</span>

                </div>
                <div class="kart-driver-photo vpo-left">
                    <img src="http://edge.vpo.gov.af/uploads/drivers/1597561597.png" class="driver-photo" alt="Driver Photo">

                </div>

            </div>
        </div>

        <div class=" bottom-row">

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="kart-lycense">
                        <br>
                        <img src="http://edge.vpo.gov.af/assets/img/resources/A-400.png" class="licence_type" alt="A-400.png">

                    </div>
                    <div class="vehicle-image">
                        <div class="row kart-sign">
                            <div class="chief">
                                <span class="chief-name">امان الله فصیحی</span>
                                <br>
                                <span class="chief-job">رئیس عمومی دفتر معاونت دوم ریاست جمهوری</span>
                                <br>
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 container">
                                <img src="http://edge.vpo.gov.af/uploads/vehicles/1597561430.png" class="vehicle-photo" alt="Vehicle Photo">

                                <div class="driver-vehicle">
                                    <div class="col-sm-12 kart-font">


                                        <div class="vehicle-driver-title">
                                            <span class="vehicle-right">نام و تخلص  :</span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left">
                                                داوود میرزایی
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 kart-font">

                                        <div class="vehicle-driver-title">
                                            <span class="vehicle-right">وظیفه : </span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left">مشاور امور انرژی و آب</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 kart-font">

                                        <div class="vehicle-driver-title ">
                                            <span class="vehicle-right">نوع و رنگ واسطه:</span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left">کرولا 2007 سفید</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 kart-font">

                                        <div class="vehicle-driver-title ">
                                            <span class="vehicle-right">شماره پلیت : </span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left">68999-2</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 kart-font">

                                        <div class="vehicle-driver-title ">
                                            <span class="vehicle-right">شماره انجن : </span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left engin-number">3021141</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 kart-font">

                                        <div class="vehicle-driver-title ">
                                            <span class="vehicle-right">شماره شاسی : </span>
                                        </div>
                                        <div class="vehicle-driver-detail ">
                                            <span class="vehicle-left shasi-number">JTDBS42E909010522</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 kart-font">
                            <div class="col-sm-7">

                            </div>
                            <div class="col-sm-5 vehicle-left">
                                <span class="date-red">
                                    تاریخ صدور :
                                    26 اسد 1399
                                </span>	<br>
                                <span class="date-red">
                                    تاریخ انقضاء :
                                    1 جدی 1399
                                </span>

                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>


</body>
</html>